:root {
    --main-color: rgba(128, 30, 255, 1);
    --shadow-color : rgb(178, 80, 255);
    --transplate-color : rgba(128, 30, 255, 0.1);
    --dark-color : rgb(70, 18, 137);
    --light-color : rgb(248,242,255);
    --font-color : rgb(12, 12, 12);
    --base-font : "Glow Sans", "Microsoft YaHei", serif;
    --title-font: "Roboto Slab", "Times", serif;
    --blockquote-font : "Times", "Roboto Slab", serif;
    --blockquote-color : rgba(117, 117, 117, 0.9);
    --monospace: "Cascadia code", "Courier New", monospace; 
}

@font-face {
    font-family: "Roboto Slab";
    src: url("./fonts/RobotoSlab-Regular-2.ttf");
}

@font-face {
    font-family: "Cascadia code";
    src: url("./fonts/Cascadia-Code-Regular-2.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/Open-Sans-2.ttf");
}

@font-face {
    font-family: "Glow Sans";
    src: url("./fonts/GlowSansSC-Normal-Book.woff2") format('woff2');
}

/* Global styles */

body {
    font-family: "Roboto Slab", "SimHei", serif;
    background-color: rgba(248,242,255,0.5);
    color: var(--font-color);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font-color);
    font-family: var(--title-font);
    font-weight: 800;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 {
    font-size: 40px;
    width: fit-content;
}

h2 {
    font-size: 28px;
    border-bottom: solid 3px var(--main-color);
    border-radius: .1em;
    width: fit-content;
    position: relative;
}

h3 {
    font-size: 24px;
    border-bottom: solid 1.8px var(--main-color);
    border-radius: .1em;
    width: fit-content;
}


hr {
    text-align:center;
    border-bottom: solid 1.8px var(--main-color) !important;
    margin:2em auto;
}


/* Images */
img {
    border-radius: 1.5em;
    box-shadow: 0 0 5px 2px rgba(134, 136, 137, 0.4); /* 减少阴影的扩展和透明度 */
    transition: all 0.3s linear;
}

/* Blockquotes */
blockquote {
    padding: 5px 5px;
    font-size: 0.9em;
    color: var(--blockquote-color);
    border-left: 6px solid var(--main-color);
    background: var(--light-color);
    border-radius : 0.5em;
    font-family: var(--blockquote-font);
    line-height: 35px;
}



/* Code blocks */


code {
    background: white;
    border-radius: 8px;
}
kbd,
samp,
tt,
var {
    font-family: var(--monospace) !important;
}

/* Lists */
ol,
ul {
  padding-left: 2em;
  line-height: 2;
}

/* Tables */
table {
    width: 95%;
    border-collapse: separate; /* 允许表格外边框显示圆角 */
    border-spacing: 0; /* 去除单元格之间的间距 */
    text-align: center;
    font-family: var(--monospace);
    margin: 20px;
    border-radius: 15px; /* 为表格整体四个角添加圆角 */
    overflow: hidden; /* 确保圆角边框不会被单元格内容覆盖 */
}

table th {
    background-color: var(--shadow-color) !important;
    color: white !important;
    padding: 10px !important;
}

table td {
    padding: 10px;
    border-radius: 0; /* 禁止单个单元格的圆角效果，以免影响整体圆角 */
}

table tr:nth-child(odd) {
    background: white;
}

table tr:nth-child(even) {
    background: var(--light-color);
}

table td:hover {
    background-color: var(--shadow-color) !important;
    color: white !important;
    box-shadow: 0 0 5px 2px var(--main-color); /* 缩小阴影的模糊半径和扩展半径 */
    border-radius: 0.5em; /* 设置圆角效果 */
}

/* Selection background */
::selection {
    background: var(--main-color);
    color: white;
}
