:root {
    --main-color: rgba(128, 30, 255, 1);
    --shadow-color : rgb(178, 80, 255);
    --transplate-color : rgba(128, 30, 255, 0.1);
    --dark-color : rgb(70, 18, 137);
    --light-color : rgb(248,242,255);
    --font-color : rgb(12, 12, 12);
    --base-font : "Glow Sans", "Microsoft YaHei", serif;
    --title-font: "Roboto Slab", "Times", serif;
    --blockquote-font : "Times", "Roboto Slab", serif;
    --blockquote-color : rgba(117, 117, 117, 0.9);
    --monospace: "Cascadia code", "Courier New", monospace; 
}

@font-face {
    font-family: "Roboto Slab";
    src: url("./fonts/RobotoSlab-Regular-2.ttf");
}

@font-face {
    font-family: "Cascadia code";
    src: url("./fonts/Cascadia-Code-Regular-2.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/Open-Sans-2.ttf");
}

@font-face {
    font-family: "Glow Sans";
    src: url("./fonts/GlowSansSC-Normal-Book.woff2") format('woff2');
}

/* Global styles */

body {
    font-family: "Roboto Slab", "SimHei", serif;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    font-weight: 800;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 {
    font-size: 40px;
    width: fit-content;
}

h2 {
    font-size: 28px;
    border-bottom: solid 3px var(--main-color);
    border-radius: .1em;
    width: fit-content;
    position: relative;
}

h3 {
    font-size: 24px;
    border-bottom: solid 1.8px var(--main-color);
    border-radius: .1em;
    width: fit-content;
}


hr {
    text-align:center;
    border-bottom: solid 1.8px var(--main-color) !important;
    margin:2em auto;
}


/* Images */
img {
    border-radius: 1.5em;
    box-shadow: 0 0 5px 2px rgba(134, 136, 137, 0.4); /* 减少阴影的扩展和透明度 */
    transition: all 0.3s linear;
}

/* Blockquotes */
blockquote {
    padding: 5px 5px;
    font-size: 0.9em;
    color: var(--blockquote-color);
    border-left: 6px solid var(--main-color);
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    font-family: var(--blockquote-font);
    line-height: 35px;
    inner-radius:
}



/* Code blocks */


code {
    border-radius: 8px;
}
kbd,
samp,
tt,
var {
    font-family: var(--monospace) !important;
}

/* Lists */
ol,
ul {
  padding-left: 2em;
  line-height: 2;
}

/* 表格基础样式 */
table {
    width: 95%; /* 表格宽度为95% */
    border-collapse: collapse; /* 去除表格间距 */
    text-align: center; /* 文本居中 */
    font-family: "Cascadia code", "Courier New", monospace; /* 字体使用等宽字体 */
    margin: 20px auto; /* 自动居中并设置外边距 */
}

/* 单元格和表头样式 */
table td, table th {
    border: 1px solid transparent; /* 单元格和表头边框 */
    color: rgb(18, 18, 18); /* 单元格文本颜色 */
    height: 30px; /* 单元格高度 */
    padding: 10px; /* 单元格内边距 */
    border-radius: .5em; /* 圆角效果 */
    transition: all 0.3s linear; /* 动画效果 */
}

/* 表头样式 */
table thead th {
    background-color: rgb(178, 80, 255) !important; /* 表头背景色 */
    font-size: 20px; /* 表头字体大小 */
    color: white !important; /* 表头文本颜色 */
    font-weight: bolder; /* 加粗表头字体 */
    text-align: center; /* 表头文本居中 */
    vertical-align: middle; /* 垂直居中 */
    padding: 10px; /* 表头内边距 */
}

/* 奇数行样式 */
table tr:nth-child(odd) {
    background: white; /* 奇数行背景色 */
}

/* 偶数行样式 */
table tr:nth-child(even) {
    background: rgb(248, 242, 255); /* 偶数行背景色 */
}


table td:hover {
    background-color: var(--shadow-color) !important;
    color: white !important;
    box-shadow: 0 0 5px 2px var(--main-color); /* 缩小阴影的模糊半径和扩展半径 */
    border-radius: 0.5em; /* 设置圆角效果 */
}

.cell-output-stdout {
  position: relative;
  background-color: rgba(0,122,204,0.1);
  padding: 5px 5px 0px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: #333;
  border-radius: 5px;
  margin-top: 15px;
  z-index: 1; /* 设置内容的 z-index 低于 "Code Output" */
}

/* Selection background */
::selection {
    background: var(--main-color);
    color: white;
}
